version: 2.1
orbs:
  cypress: cypress-io/cypress@1
workflows:
  build:
    jobs:
      - cypress/install:
          build: npm run todomvc:install
      - cypress/run:
          requires:
            - cypress/install
          start: npm start